body {
    background-color: black;
    .container {
        // border: 1px solid red;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 340px;
        padding: 30px 20px;
        background-color: rgb(26, 33, 43);
        border-radius: 10px;
        .seccion1 {
            // border: 1px solid green;
            height: 70px;
            display: flex;
            align-items: center;
            .imagen_cont {
                // border: 1px solid blue;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                border-radius: 100%;
                background-color: rgb(34, 48, 61);
            }
        }
        .seccion2 {
            // border: 1px solid blue;
            h1 {
                color: white;
                font-size: 21px;
                font-family: $tipo_principal;
                font-weight: 400;
                padding: 5px 0px;
            }
            p {
                font-family: $tipo_principal;
                color: rgb(135, 142, 151);
                font-size: 11px;
                padding-bottom: 10px;
            }
        }
        .seccion3 {
            // border: 1px solid yellow;
            height: 60px;
            display: flex;
            color: white;
            justify-content: space-between;
            align-items: center;
            .puntaje {
                // border: 1px solid red;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                color: rgb(135, 142, 151);
                background-color: rgb(34, 48, 61);
                transition: 0.5s ease;
                &:hover {
                    background-color: rgb(252, 118, 19);
                color: black;
                }
            }
        }
        .seccion4 {
            // border: 1px solid orange;
            height: 40px;
            border-radius: 15px;
            background-color: rgb(252, 118, 19);
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            font-weight: 700;
            font-family: $tipo_principal;
            cursor: pointer;
        }
    }
}